<div id="main">
<%- include("header", {title: title}); %>

<h2>Export complete</h2>

<form class="form-style" method="post">
  <center>
    <input type="submit" value="Return" name="submit">
  </center>
</form>
</form>

</div>
